extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  button#kick(type='button', name='kick') Kick
  button#stop(type='button', name='stop') Stop
  input#updated_value(type='hidden', name='updated_flg', value='')
  hr
  - if (typeof flightLogs === 'undefined') {
  -   console.log("Can't find any flight log records.")
  - }
  - var selected_id = JSON.stringify(flightLogs[0].flight_id);
  input#selected_id(type='text', name='id', value='#{selected_id}')
  button#update(type='button', name='update') Update
  hr

  p flight_id:
    span#flight_id !{JSON.stringify(flightLogs[0].flight_id)}
  table
    thead
      tr
        th 回数
        th 経度
        th 緯度
        th 高度
        th バッテリー残量
        th 滞空時間計
        th 飛行開始時刻
        th APIコール時刻
    tbody#placeData
      for val, index in flightLogs
        tr
          td #{index}
          td !{JSON.stringify(val.lat).replace(/["]+/g, '')}
          td !{JSON.stringify(val.lng).replace(/["]+/g, '')}
          td !{JSON.stringify(val.height).replace(/["]+/g, '')}
          td !{JSON.stringify(val.battery).replace(/["]+/g, '')}
          td !{JSON.stringify(val.flight_time).replace(/["]+/g, '')}
          td !{JSON.stringify(val.fstarted_at).replace(/["]+/g, '')}
          td !{JSON.stringify(val.created_at).replace(/["]+/g, '')}
  hr
  script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
  script(type='text/javascript', src='javascripts/emitter.js', id="emitter", data-json=JSON.stringify(flightLogs), data-config=JSON.stringify(config))
  script(type='text/javascript')
   | (function() {
   |   var $update = $("#update");
   |   $update.on('click', function(e) {
   |     var selectedId = $("#selected_id").val();
   |     $.ajax({
   |       type: "GET",
   |       url: "/update",
   |       data: { id: selectedId },
   |       dataType: 'json',
   |       success: function (data) {
   |         var updatedLogs = data.flightLogs;
   |         $placeData = $("#placeData");
   |         $placeData.empty();
   |         $flightId = $("#flight_id");
   |         $flightId.text(selectedId.replace(/["]+/g, ''));
   |         var $tbody;
   |         for (var i = 0; i < updatedLogs.length; i++) {
   |           $tbody += '<tr>'
   |                  +   '<td>' + (i + 1) + '回目</td>'
   |                  +   '<td>' + JSON.stringify(updatedLogs[i].lat).replace(/["]+/g, '') + '</td>'
   |                  +   '<td>' + JSON.stringify(updatedLogs[i].lng).replace(/["]+/g, '') + '</td>'
   |                  +   '<td>' + JSON.stringify(updatedLogs[i].height).replace(/["]+/g, '') + '</td>'
   |                  +   '<td>' + JSON.stringify(updatedLogs[i].battery).replace(/["]+/g, '') + '</td>'
   |                  +   '<td>' + JSON.stringify(updatedLogs[i].flight_time).replace(/["]+/g, '') + '</td>'
   |                  +   '<td>' + JSON.stringify(updatedLogs[i].fstarted_at).replace(/["]+/g, '') + '</td>'
   |                  +   '<td>' + JSON.stringify(updatedLogs[i].created_at).replace(/["]+/g, '') + '</td>'
   |                  + '</tr>';
   |         }
   |         $placeData.append($tbody);
   |       },
   |       error: function (data) {
   |       }
   |     }); 
   |   });
   | })();
