body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border: 1px solid #ccc;
  border-spacing: 0;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: .2rem .4rem;
}
